:root{
    --primary-color:#5fbaa7;
}

*{
    box-sizing: border-box;
}

body{
    background: #f4f4f4;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}